<header>
    <div class="head-text">
      Nazar Tolmachov / Beaves & Butthead
    </div>
    <div class="head-icons">
      <div class="icon" *ngFor="let icon of icons">
        <a [href]="icon.link" [className]="icon.fa_class" aria-hidden="true"></a></div>  
      <!--<div class="icon ">
          <a href="#" class="fa fa-telegram" aria-hidden="true"></a>
        </div>  
      <div class="icon ">
        <a href="#" class="fa fa-facebook" aria-hidden="true"></a>
      </div>
      <div class="icon ">
        <a href="#" class="fa fa-vk" aria-hidden="true"></a>
      </div>
      <div class="icon ">
        <a href="#" class="fa fa-linkedin" aria-hidden="true"></a>
      </div>
      <div class="icon ">
        <a href="#" class="fa fa-github" aria-hidden="true"></a>
      </div>-->
    </div>
  </header>